<div class="collection">
  <div class="collection-content">
    <div class="title">
      <p>Tile Collections</p>
      <hr class="divider" />
    </div>
    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
  </div>
  <div class="collection-card">
    <div class="collection-card-row">
      <!-- <app-card-collection
        [imgUrl]="'../../../../../assets/images/zurichVision.png'"
        [title]="'Zurich Vision 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'239.99 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../assets/images/zurichPearl.png'"
        [title]="'Zurich Pearl 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../assets/images/zurichGrey.png'"
        [title]="'Zurich Grey 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../assets/images/zurichDarkGrey.png'"
        [title]="'Zurich Dark Grey 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection>
    </div> -->
      <div class="collection-card-row">
        <!-- <app-card-collection
        [imgUrl]="'../../../../../../assets/images/zurichVision.png'"
        [title]="'Zurich Vision 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'239.99 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../../assets/images/zurichPearl.png'"
        [title]="'Zurich Pearl 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../../assets/images/zurichGrey.png'"
        [title]="'Zurich Grey 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection>
      <app-card-collection
        [imgUrl]="'../../../../../../assets/images/zurichDarkGrey.png'"
        [title]="'Zurich Dark Grey 60x60'"
        [originPrice]="'449.99 SAR'"
        [price]="'312.49 SAR'"
      >
      </app-card-collection> -->
      </div>
    </div>
    <div class="collection-button">
      <!-- <app-button
      [btnText]="'MORE PRODUCTS'"
      [btnStyle]="'bg-black-btn'"
    ></app-button> -->
    </div>
  </div>
</div>
