.vision{
    width: 1422px;
    height: 649px;
    position: relative;
    margin: 0px 249px 120px 249px;  

    &-image{
        position: absolute;
        left: 0;
    }

    &-content{
        width: 692px;
        height: 522px;
        position: absolute;
        align-content: center;
        z-index: 10;
        background-color: #f7f7f7;
        right: 0;
        margin-top: 64px;
        margin-bottom: 63px;
        padding: 120px 152px 120px 86px;

        &-title{
            font-family: 'Proxima-Bold', sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: calc(48px/48px);
            color: #111010;
            margin-bottom: 30px;
        }

        &-subtitle{
            font-family: 'Proxima-Regular', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: calc(28px/20px);
            color: #616161;
            margin-bottom: 60px;
        }

        &-button{
            margin-bottom: 120px;
            background-color: #000000;
            color: #ffffff;
        }
    }
}