<div class="vision">
  <img
    class="vision-image"
    src="../../../../../../assets/images/showroom.png"
  />
  <div class="vision-content">
    <h3 class="vision-content-title">Our Showrooms</h3>
    <p class="vision-content-subtitle">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text.
    </p>
    <!-- <app-button
      [btnText]="'LEARN MORE'"
      [btnStyle]="'bg-black-btn'"
      class="button"
    ></app-button> -->
  </div>
</div>
