<div class="projects">
  <div class="projects-content">
    <div class="title">
      <p>Projects</p>
      <hr class="divider" />
    </div>
    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
  </div>
  <div class="projects-card">
    <!-- <app-card-project
      [imgUrl]="'../../../../../../assets/images/kingdomTower.png'"
      [title]="'Kingdom Tower'"
      [description]="'Marble Flooring'"
    >
    </app-card-project>
    <app-card-project
      [imgUrl]="'../../../../../../assets/images/dubaiMall.png'"
      [title]="'Dubal Mall'"
      [description]="'Wood Flooring'"
    >
    </app-card-project>
    <app-card-project
      [imgUrl]="'../../../../../../assets/images/kingRoadOffices.png'"
      [title]="'King Road Offices'"
      [description]="'Outdoor Flooring'"
    >
    </app-card-project>
    <app-card-project
      [imgUrl]="'../../../../../../assets/images/beachTower.png'"
      [title]="'Beach Tower Alupang'"
      [description]="'Wood Flooring'"
    >
    </app-card-project> -->
  </div>
  <div class="projects-button">
    <!-- <app-button [btnText]="'VIEW ALL'" [btnStyle]="'bg-black-btn'"></app-button> -->
  </div>
</div>
