<div class="vision">
  <img class="vision-image" src="../../../../../../assets/images/vision.png" />
  <div class="vision-content">
    <h3 class="vision-content-title">Vision</h3>
    <p class="vision-content-subtitle">
      Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend aptent
      dapibus metus maecenas consequat. Elementum interdum a semper. Netus
      nullam eros nisi volutpat nibh ex ultricies. Pharetra sagittis sit aliquet
      at. Magna nam platea justo.
    </p>
    <!-- <app-button
      [btnText]="'LEARN MORE'"
      [btnStyle]="'bg-black-btn'"
      class="button"
    ></app-button> -->
  </div>
</div>
