@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@font-face {
    font-family: Proxima-Regular;
    src: url(./Proxima/Fontspring-DEMO-proximanova-regular.otf) format("true");
}

@font-face {
    font-family: Proxima-Thin;
    src: url(./Proxima/Fontspring-DEMO-proximanovaexcn-lightit.otf) format("true");
}

@font-face {
    font-family: Proxima-Bold;
    src: url(./Proxima/Fontspring-DEMO-proximanova-semibold.otf) format("true");
}