<div class="products">
  <div class="content">
    <div class="title">
      <p>Products</p>
      <hr class="divider" />
    </div>
    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
  </div>
  <div class="products-card">
    <!-- <app-card-products
      class="card-detail-bathroom"
      [imgUrl]="'../../../../../../assets/images/bath-room.png'"
      [title]="'Bathroom Tiles'"
      [description]="'Ante mus blandit sapien sociosqu per consequat ad.'"
    >
    </app-card-products>
    <app-card-products
      class="card-detail-marble"
      [imgUrl]="'../../../../../../assets/images/marble.png'"
      [title]="'Marble'"
      [description]="'Ante mus blandit sapien sociosqu'"
    >
    </app-card-products> -->
    <div class="outdoor-kitchen">
      <!-- <app-card-products
        class="card-detail-outdoor"
        [imgUrl]="'../../../../../../assets/images/outdoor-flooring.png'"
        [title]="'Outdoor'"
        [description]="'Ante mus blandit sapien sociosqu per consequat ad.'"
      >
      </app-card-products>
      <app-card-products
        class="card-detail-kitchen"
        [imgUrl]="'../../../../../../assets/images/kitchen-interior.png'"
        [title]="'Kitchen'"
        [description]="'Ante mus blandit sapien sociosqu per consequat ad.'"
      >
      </app-card-products> -->
    </div>
  </div>
</div>
