::ng-deep {
  nb-layout-column {
    height: 500px !important;
  }

  //   button + button {
  //     margin: 1rem;
  //   }

  #cancel {
    margin-left: 0 !important;
  }

  #submit {
    margin-right: 0 !important;
  }

  .dialog-card {
    margin: 0 auto !important;
    margin-left: auto;
    margin-right: auto;
    width: 90% !important;
  }

  @media (min-width: 40rem) {
    .dialog-card {
      width: 38rem !important;
    }
  }
}

button {
  display: flex !important;
  float: left !important;
  width: 45% !important;
  margin-right: 27px !important;
}
