<nb-layout>
  <nb-layout-header class="title1">BẢNG GIẤ QUY ĐỔI NGOẠI TỆ</nb-layout-header>
  <nb-layout-column class="content">
    <div>
      <iframe
        frameborder="0"
        width="600px"
        height="500px"
        src="https://webtygia.com/api/ngoaite?bgheader=000000&colorheader=ffffff&padding=5&fontsize=13&undefined"
      ></iframe>
    </div>
    <div>
      <iframe
        frameborder="0"
        height="500px"
        width="500px"
        src="https://webtygia.com/api/json/cong-cu-chuyen-doi-tien-te?maukhungketqua=009688&mauchuketqua=ffffff&sizechuketqua=30&fontsize=13&border=1&hienthamkhao=0&undefined"
      ></iframe>
    </div>
  </nb-layout-column>
</nb-layout>
