<div class="footer">
  <div class="row" style="margin: 0">
    <div class="col-3">
      <div class="footer-logo">
        <!-- <img src="../../../../assets/images/Logo-white.png" alt="" /> -->
        <p class="name">KIM HUY</p>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="footer-copyright">
        <p>Copyright © 2022 | All Rights Reserved.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-title">
        <p>Products</p>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="#">Sand Store</a></li>
          <li><a href="#">Stone</a></li>
          <li><a href="#">Cement</a></li>
          <li><a href="#">Soft Store</a></li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-title">
        <p>Service</p>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="#">Measurement Service</a></li>
          <li><a href="#">Product Advice</a></li>
          <li><a href="#">Interior Design</a></li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-title">
        <p>Contact Information</p>
      </div>
      <div class="footer-content">
        <p>19 Phương Sài, Phường Phương Sơn, Thành phố Nha Trang, Khánh Hòa</p>
      </div>
    </div>
  </div>
</div>
