<div class="solution">
  <div class="row">
    <div class="col-8">
      <div class="solution-content">
        <p class="solution-content-title">
          Create Solutions by Professional Desssigners
        </p>
        <p class="solution-content-description">
          Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend
          aptent dapibus metus maecenas consequat. Elementum interdum a semper.
          Netus nullam eros nisi volutpat nibh ex ultricies. Pharetra sagittis
          sit aliquet at. Magna nam platea justo.
        </p>
      </div>
      <div class="solution-image">
        <img
          class="img-1"
          src="../../../../../../assets/images/mirror.png"
          alt="mirror"
        />
        <img
          class="img-2"
          src="../../../../../../assets/images/chair.png"
          alt="mirror"
        />
        <img src="../../../../../../assets/images/laptop.png" alt="mirror" />
      </div>
      <div class="solution-button">
        <!-- <app-button
          [btnText]="'READ MORE'"
          [btnStyle]="'bg-black-btn'"
        ></app-button> -->
      </div>
    </div>
    <div class="col-4">
      <img src="../../../../../../assets/images/plant.png" alt="plant" />
    </div>
  </div>
</div>
