<h1 id="title" class="title">Đăng kí</h1>

<form (ngSubmit)="reg()" #form="ngForm" aria-labelledby="title">
  <div class="form">
    <!-- <div class="form-control-group">
      <label class="label" for="input-name">Họ và tên:</label>
      <input
        nbInput
        [(ngModel)]="user.fullName"
        #fullName="ngModel"
        id="input-name"
        name="fullName"
        placeholder="Full name"
        autofocus
        fullWidth
        fieldSize="large"
      />
    </div> -->

    <div class="form-control-group">
      <label class="label" for="input-username">Tài khoản:</label>
      <input
        nbInput
        [(ngModel)]="user.username"
        #username="ngModel"
        id="input-username"
        name="username"
        pattern=".+@.+..+"
        placeholder="Username"
        fullWidth
        fieldSize="large"
      />
    </div>

    <div class="form-control-group">
      <label class="label" for="input-password">Mật khẩu:</label>
      <input
        nbInput
        [(ngModel)]="user.password"
        #password="ngModel"
        type="password"
        id="input-password"
        name="password"
        placeholder="Password"
        fullWidth
        fieldSize="large"
      />
    </div>

    <div class="form-control-group">
      <label class="label" for="input-fullName">Họ và tên:</label>
      <input
        nbInput
        [(ngModel)]="user.fullName"
        #fullName="ngModel"
        id="input-fullName"
        name="fullName"
        placeholder="Full name"
        autofocus
        fullWidth
        fieldSize="large"
      />
    </div>

    <div class="form-control-group">
      <label class="label" for="input-dateOfBirth">Ngày sinh:</label>
      <input
        nbInput
        [(ngModel)]="user.dateOfBirth"
        #dateOfBirth="ngModel"
        id="input-dateOfBirth"
        name="dateOfBirth"
        placeholder="yyyy-MM-dd"
        autofocus
        fullWidth
        fieldSize="large"
        [nbDatepicker]="datepicker"
      />
      <nb-datepicker #datepicker format="yyyy-MM-dd"></nb-datepicker>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-gender">Giới tính:</label>
      <!-- <input nbInput [(ngModel)]="user.gender" /> -->
      <nb-radio-group
        [(ngModel)]="user.gender"
        #gender="ngModel"
        id="input-gender"
        name="gender"
        placeholder="Giới tính"
        autofocus
        fullWidth
        fieldSize="large"
      >
        <nb-radio value="0">Nữ</nb-radio>
        <nb-radio value="1">Nam</nb-radio>
      </nb-radio-group>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-address">Địa chỉ:</label>
      <input
        nbInput
        [(ngModel)]="user.address"
        #address="ngModel"
        id="input-address"
        name="address"
        placeholder="Địa chỉ"
        autofocus
        fullWidth
        fieldSize="large"
      />
    </div>

    <div class="form-control-group">
      <label class="label" for="input-phoneNumber">Số điện thoại:</label>
      <input
        nbInput
        [(ngModel)]="user.phoneNumber"
        #phoneNumber="ngModel"
        id="input-phoneNumber"
        name="phoneNumber"
        placeholder="Số điện thoại"
        autofocus
        fullWidth
        fieldSize="large"
      />
    </div>

    <div class="form-control-group">
      <label class="label" for="input-idNumber">CCCD/CMND:</label>
      <input
        nbInput
        [(ngModel)]="user.idNumber"
        #idNumber="ngModel"
        id="input-idNumber"
        name="idNumber"
        placeholder="CCCD/CMND"
        autofocus
        fullWidth
        fieldSize="large"
      />
    </div>
  </div>

  <!-- <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input
      nbInput
      [(ngModel)]="user.confirmPassword"
      #rePass="ngModel"
      type="password"
      id="input-re-password"
      name="rePass"
      placeholder="Confirm Password"
      fullWidth
      fieldSize="large"
      [status]="
        rePass.dirty
          ? rePass.invalid || password.value != rePass.value
            ? 'danger'
            : 'success'
          : 'basic'
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
    />
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.required">
        Password confirmation is required!
      </p>
      <p
        class="caption status-danger"
        *ngIf="password.value != rePass.value && !rePass.errors?.required"
      >
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div> -->

  <button nbButton fullWidth status="primary" size="large">Đăng kí</button>
</form>

<section class="another-action" aria-label="Sign in">
  Bạn đã có tài khoản <a class="text-link" routerLink="../login">Đăng nhập</a>
</section>
