<div class="banner">
  <div class="content">
    <div class="background-content">
      <p class="title">New Generation Ceramic Tile</p>
      <p class="sub-title">
        Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend aptent
        dapibus metus maecenas consequat. Elementum interdum a semper. Netus
        nullam eros nisi volutpat nibh ex ultricies. Pharetra sagittis sit
        aliquet at. Magna nam platea justo.
      </p>
      <!-- <app-button
        [btnText]="'LEARN MORE'"
        [btnStyle]="'bg-white-btn'"
        class="button"
      ></app-button> -->
    </div>
  </div>
</div>
