<div class="menu">
  <!-- <div class="menu-search">
    <i class="fas fa-search"></i>
  </div> -->
  <div class="menu-content">
    <ul>
      <li><a class="active" routerLink="/">Trang chủ</a></li>
      <li><a routerLink="/products">Sản phẩm</a></li>
      <li><a routerLink="/chart-gold-rate">Giá vàng</a></li>
      <li><a routerLink="/current-rate">Tỉ giá ngoại tệ</a></li>
      <li><a routerLink="/">Liên hệ</a></li>
    </ul>
  </div>
  <div class="menu-function">
    <ul>
      <li>
        <a routerLink="/cart"
          ><i class="fas fa-shopping-cart"></i>({{ itemCount() }})</a
        >
      </li>
      <li>
        <a (click)="checkNavigate()"><i class="far fa-user"></i></a>
      </li>
    </ul>
  </div>
</div>
