<!-- TradingView Widget BEGIN -->

<nb-layout>
  <nb-layout-header class="title"
    >BẢNG GIẤ VÀNG TRONG VÀ NGOÀI NƯỚC</nb-layout-header
  >
  <nb-layout-column>
    <div class="tradingview-widget-container">
      <div id="chart-gold-rate"></div>
      <div class="tradingview-widget-copyright">
        <a
          href="https://vn.tradingview.com/symbols/XAUUSD/"
          rel="noopener"
          target="_blank"
          ><span class="blue-text">Biểu đồ giá vàng thế giới</span>
        </a>
        bởi TradingView
      </div>
    </div>
    <div>
      <iframe
        frameborder="0"
        width="100%"
        height="800px"
        src="https://webtygia.com/api/vang?bgheader=000000&colorheader=ffffff&padding=5&fontsize=13&undefined"
      ></iframe>
    </div>
  </nb-layout-column>
</nb-layout>
