<!-- TradingView Widget BEGIN -->

<nb-layout>
  <nb-layout-header> </nb-layout-header>
  <nb-layout-column>
    <div class="tradingview-widget-container">
      <div id="chart-gold-rate"></div>
      <div class="tradingview-widget-copyright">
        <a
          href="https://vn.tradingview.com/symbols/XAUUSD/"
          rel="noopener"
          target="_blank"
          ><span class="blue-text">XAUUSD Biểu đồ</span>
        </a>
        bởi TradingView
      </div>
    </div>
    <iframe
      frameborder="0"
      height="390px"
      width="500px"
      src="https://webtygia.com/api/json/cong-cu-chuyen-doi-tien-te?maukhungketqua=009688&mauchuketqua=ffffff&sizechuketqua=30&fontsize=13&border=1&hienthamkhao=0&undefined"
    ></iframe>
  </nb-layout-column>
</nb-layout>
