<nb-layout>
  <nb-layout-header fixed>
    <!-- <button nbButton status="success" size="tiny" (click)="toggle()"></button> -->
    <div id="title">
      <nb-icon nbButton (click)="toggle()" icon="menu-2-outline">
        <!-- <img src="assets/icon/menu.svg" alt="" /> -->
      </nb-icon>
      <span>Trang Quản Lý</span>
    </div>
    <nb-actions size="small">
      <!-- <nb-action icon="search-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action> -->
      <!-- <nb-action [icon]="disabledIconConfig" disabled></nb-action> -->
      <nb-action>
        <nb-user
          size="medium"
          shape="semi-round"
          name="John Doe"
          title="Engineer"
          picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
        >
        </nb-user>
      </nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar tag="left-sidebar">
    <!-- <div> -->
    <nb-menu [items]="items" autoCollapse="true"> </nb-menu>
    <!-- </div> -->
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <span>Creat At Ngo Nam - 60.CNTT-1</span>
  </nb-layout-footer>
</nb-layout>
