<h1 id="title" class="title">Đăng Nhập</h1>
<p class="sub-title">Xin chào! Vui lòng đăng nhập bằng tài khoản của bạn.</p>
<!-- <div [class]="{ color: status, 'background-color': status2 }">aaaa</div> -->

<!-- <form (ngSubmit)="onFormSubmit()" #signInForm="ngForm" [formGroup]="loginForm">
  <label class="label" for="username">Username:</label>
  <input
    formControlName="username"
    id="username"
    autofocus
    ngModel
    class="form-control"
    nbInput
    fullWidth
  />

  <label class="label" for="password">Mật khẩu:</label>
  <input
    ngModel
    type="password"
    id="password"
    class="form-control"
    formControlName="password"
    nbInput
    fullWidth
  />

  <button nbButton type="submit" status="primary" size="large">
    Đăng nhập
  </button>
</form>

<section class="another-action" aria-label="Register">
  Bạn chưa có tài khoản?
  <a class="text-link" routerLink="../register">Đăng kí</a>
</section> -->

<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <h2>Log In</h2>
    <label>
      <input nbInput placeholder="Username" formControlName="username" />
    </label>

    <label>
      <input
        type="password"
        nbInput
        placeholder="Password"
        formControlName="password"
      />
    </label>

    <div class="button-row">
      <button
        nbButton
        type="submit"
        [disabled]="!loginForm.valid"
        color="primary"
      >
        Login
      </button>
    </div>
    <div class="button-row">
      <h4>Don't have an account?</h4>
    </div>
    <div class="button-row">
      <!-- <a color="primary" [routerLink]="['/register']">Register</a> -->
    </div>
  </form>
</div>
